<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="nodeHeader">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>三向溯源防伪</title>
    <link rel="stylesheet"  th:href="@{/resource/css/common.css}"/>
    <script type="text/javascript" th:src="@{/resource/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/resource/js/common.js}"></script>
</head>
