<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyang.os.dao.SerCodeType3InfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ningyang.os.pojo.SerCodeType3Info">
        <id column="id" property="id"/>
        <result column="code_name" property="codeName"/>
        <result column="code_state" property="codeState"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectCodeTypeVoByCondition"
            parameterType="com.ningyang.os.action.input.condition.base.QueryCodeCondition"
            resultType="com.ningyang.os.action.output.vo.web.base.CodeTypeVo"
    >
        select a.id as codeId,a.code_name,a.code_state from t_ser_code_type3_info a where 1=1
        <if test="codeTypeState!=null">
            and a.code_state = #{codeTypeState}
        </if>
    </select>


</mapper>
