<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyang.os.dao.SerDealerRegionInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ningyang.os.pojo.SerDealerRegionInfo">
        <id column="id" property="id"/>
        <result column="dealer_id" property="dealerId"/>
        <result column="region_id" property="regionId"/>
    </resultMap>

</mapper>
