<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyang.os.dao.SerPrizeSetRecordInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ningyang.os.pojo.SerPrizeSetRecordInfo">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
        <result column="brand_id" property="brandId" />
        <result column="series_id" property="seriesId" />
        <result column="product_id" property="productId" />
        <result column="warehouse_id" property="warehouseId" />
        <result column="prize_set_id" property="prizeSetId" />
        <result column="prize_set_type" property="prizeSetType" />
        <result column="prize_set_state" property="prizeSetState" />
        <result column="prize_set_uuid" property="prizeSetUuid" />
        <result column="prize_set_count" property="prizeSetCount" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="selectPrizeSetRecordVoPageByCondition"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryPrizeCondition"
            resultType="com.ningyang.os.action.output.vo.web.serve.PrizeSetRecordVo"
    >
        select a.id as recordId,a.prize_set_id,b.prize_set_name,a.prize_set_type,c.user_name,a.order_id,d.dealer_id,a.order_no,
        b.prize_start_date,b.prize_end_date,a.create_time,a.prize_set_state,a.prize_set_count,a.brand_id,a.series_id,a.product_id
        from t_ser_prize_set_record_info a
        left join t_ser_prize_set_info b on a.prize_set_id = b.prize_set_id
        left join t_sys_user_info c on a.create_user_id = c.id
        left join t_ser_order_info d on a.order_id=d.id
        <if test="prizeSetType!=null">
            and a.prize_set_type = #{prizeSetType}
        </if>
        <if test="prizeSetState!=null">
            and a.prize_set_state = #{prizeSetState}
        </if>
        order by a.create_time desc
        limit #{page},#{limit}
    </select>

    <select id="selectPrizeSetRecordVoPageCountByCondition"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryPrizeCondition"
            resultType="long"
    >
        select count(*) from t_ser_prize_set_record_info a
        where 1=1
        <if test="prizeSetType!=null">
            and a.prize_set_type = #{prizeSetType}
        </if>
        <if test="prizeSetState!=null">
            and a.prize_set_state = #{prizeSetState}
        </if>
        order by a.create_time desc
    </select>

</mapper>
