<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyang.os.dao.SerPurchaseOrderInfoDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ningyang.os.pojo.SerPurchaseOrderInfoDetails">
        <id column="id" property="id"/>
        <result column="purchase_id" property="purchaseId"/>
        <result column="product_id" property="productId"/>
        <result column="box_number" property="boxNumber"/>
        <result column="is_no" property="isNo"/>
        <result column="purchase_type" property="purchaseType"/>
        <result column="purchase_state" property="purchaseState"/>
        <result column="user_id" property="userId"/>
        <result column="idata1" property="idata1"/>
        <result column="idata2" property="idata2"/>
        <result column="idata3" property="idata3"/>
        <result column="idata4" property="idata4"/>
        <result column="sdata1" property="sdata1"/>
        <result column="sdata2" property="sdata2"/>
        <result column="sdata3" property="sdata3"/>
        <result column="sdata4" property="sdata4"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectOrderDetailVoList"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryOrderCondition"
            resultType="com.ningyang.os.action.output.vo.web.serve.OrderDetailVo"
    >
        select a.purchase_id,a.product_id,a.user_id,
        d.brand_name,c.series_name,b.product_name,b.sales_price
        from t_ser_purchase_order_info_details a
        left join t_ser_brand_series_product_info b on a.product_id=b.id
        left join t_ser_brand_series_info c on b.series_id=c.id
        left join t_ser_brand_info d on c.brand_id=d.id
        where 1=1
        <if test="purchaseId!=null">
            and a.purchase_id = #{purchaseId}
            <if test="orderSaleFlag!=0">
                and a.user_id = #{userId} or a.purchase_id=-1
            </if>
        </if>
        group by a.purchase_id,a.product_id,a.user_id,
        d.brand_name,c.series_name,b.product_name,b.sales_price
    </select>

    <delete id="deletePurchaseOrderByNull">
        DELETE FROM t_ser_purchase_order_info_details WHERE purchase_id = -1
    </delete>

    <select id="selectOrderDetailBoxCount"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryOrderCondition"
            resultType="int"
    >
        select sum(a.box_number) from t_ser_purchase_order_info_details a
        where 1=1
        <if test="purchaseId!=null">
            and a.purchase_id = #{purchaseId}
            <if test="orderSaleFlag!=0">
                and a.user_id = #{userId} or a.purchase_id=-1
            </if>
        </if>
        and a.product_id = #{productId}
    </select>


</mapper>
