<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyang.os.dao.SerPrizeTypeInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ningyang.os.pojo.SerPrizeTypeInfo">
        <id column="prize_type_id" property="prizeTypeId"/>
        <result column="prize_type_code" property="prizeTypeCode"/>
        <result column="prize_type_name" property="prizeTypeName"/>
        <result column="prize_type_content" property="prizeTypeContent"/>
        <result column="user_id" property="userId"/>
        <result column="idata1" property="idata1"/>
        <result column="idata2" property="idata2"/>
        <result column="idata3" property="idata3"/>
        <result column="idata4" property="idata4"/>
        <result column="sdata1" property="sdata1"/>
        <result column="sdata2" property="sdata2"/>
        <result column="sdata3" property="sdata3"/>
        <result column="sdata4" property="sdata4"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="selectPrizeTypeVoListByCondition"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryPrizeCondition"
            resultType="com.ningyang.os.action.output.vo.web.serve.PrizeTypeVo"
    >
        select a.prize_type_id as typeId,a.prize_type_code as typeCode,a.prize_type_name as typeName,
        a.prize_type_content as typeContent,a.idata1 as typeState,b.user_name
        from t_ser_prize_type_info a
        left join t_sys_user_info b on a.user_id=b.id
        where 1=1
        <if test="typeState!=null">
            and a.idata1 = #{typeState}
        </if>
    </select>

    <select id="selectPrizeTypeVoPageByCondition"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryPrizeCondition"
            resultType="com.ningyang.os.action.output.vo.web.serve.PrizeTypeVo"
    >
        select a.prize_type_id as typeId,a.prize_type_code as typeCode,a.prize_type_name as typeName,
               a.prize_type_content as typeContent,a.idata1 as typeState,b.user_name
        from t_ser_prize_type_info a
          left join t_sys_user_info b on a.user_id=b.id
        where 1=1
        <if test="typeState!=null">
            and a.idata1 = #{typeState}
        </if>
        limit #{page},#{limit}
    </select>

    <select id="selectPrizeTypeVoListByConditionCount"
            parameterType="com.ningyang.os.action.input.condition.serve.QueryPrizeCondition"
            resultType="java.lang.Long"
    >
        select count(*)  from t_ser_prize_type_info t
        <if test="typeState!=null">
            and t.idata1 = #{typeState}
        </if>
    </select>

</mapper>
