<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningyang.os.dao.SysUserRoleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ningyang.os.pojo.SysUserRoleInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <select id="selectByUserId"
            parameterType="String"
            resultType="com.ningyang.os.action.output.dto.web.UserRoleDto"
    >
        SELECT a.id,a.user_id,a.role_id,b.role_name,b.role_flag
        FROM t_sys_user_role_info a
                 LEFT JOIN t_sys_role_info b on a.role_id = b.id
        WHERE 1 = 1
          AND a.user_id = #{userId}
    </select>

</mapper>
